<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Vinda疫情管理系统</title>

  </head>
  <body>
    <!-- 关闭 eslint检查
    https://blog.csdn.net/jagger_guo/article/details/78942692?utm_medium=distribute.pc_relevant.none-task-blog-BlogCommendFromBaidu-3.control&depth_1-utm_source=distribute.pc_relevant.none-task-blog-BlogCommendFromBaidu-3.control
    -->
    <!-- <script src=<%= BASE_URL %>/tinymce4.7.5/tinymce.min.js></script>
    <script src=<%= BASE_URL %>/tinymce4.7.5/langs/zh_CN.js></script> -->

    <div id="app">
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>

